{% extends '::base.html.twig' %}

{% block body -%}
    <h1>situationAppel edit</h1>


  {#  {{ form_start(edit_form) }}
    {% for etat in edit_form.etats  %}
            {{form_widget(etat.displayedString)}}
    {% endfor %}
    {{form_widget(edit_form.submit)}}
#}
    {{ form(edit_form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('situationAppel') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
