{% extends '::base.html.twig' %}

{% block body -%}
    <h1>situationAppel</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Numorder</th>
                <td>{{ entity.numOrder }}</td>
            </tr>
            <tr>
                <th>Resultas</th>
                <td>{{ entity.resultas }}</td>
            </tr>
            <tr>
                <th>Responsablecompte</th>
                <td>{{ entity.responsableCompte }}</td>
            </tr>
            <tr>
                <th>Responsablequalification</th>
                <td>{{ entity.responsableQualification }}</td>
            </tr>
            <tr>
                <th>Montantmarche</th>
                <td>{{ entity.montantMarche }}</td>
            </tr>
            <tr>
                <th>Lot</th>
                <td>{{ entity.lot }}</td>
            </tr>
            <tr>
                <th>Datesoumission</th>
                <td>{{ entity.dateSoumission|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ entity.observation|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('situationAppel') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('situationAppel_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
