{% extends '::base.html.twig' %}

{% block body -%}
    <h1>appel edit</h1>

    <table>
        {{ form_start(edit_form) }}

        <tr><td>
                {{ form_row(edit_form.situationAppel.responsableCompte) }}</td></tr>
        <tr><td>{{ form_row(edit_form.maitreOuvrage.nomEntreprise) }}</td></tr>
        <tr><td>{{ form_row(edit_form.maitreOuvrage.nomContact) }}</td></tr>
        {# {{ form_row(edit_form.nom) }}#}
        <tr><td> {{ form_row(edit_form.maitreOuvrage.telephone) }}</td>
            <td>{{ form_row(edit_form.maitreOuvrage.fax) }}</td>
            <td>{{ form_row(edit_form.maitreOuvrage.mail) }}</td></tr>
        <tr><td>{{ form_row(edit_form.situationAppel.numOrder) }}</td>
            <td>{{ form_row(edit_form.situationAppel.dateSoumission) }}</td></tr>
        <tr><td>{{ form_row(edit_form.situationAppel.montantSoumission) }}</td></tr>
        <tr><td>{{ form_row(edit_form.objet) }}</td>
            <td> {{ form_row(edit_form.dateLimit) }}</td>
            <td> {{ form_row(edit_form.lieuxDepot) }}</td></tr>
        <tr><td>{{ form_row(edit_form.situationAppel.lot) }}</td><td>{{ form_row(edit_form.situationAppel.dateVisiteLieux) }}</td><</tr>
        {# <tr><td> {{ form_row(edit_form.esoumission) }}</td><
             <td>{{ form_row(edit_form.emotif) }}</td><</tr>#}

        <tr><td>{{ form_row(edit_form.passation) }}</td><</tr>
        <tr><td>{{ form_row(edit_form.situationAppel.montantMarche) }}</td></tr>
        <tr><td>{{ form_row(edit_form.attestation) }}</td></tr>
        <tr><td>{{ form_row(edit_form.attestation) }}</td></tr>
        <tr><td>{{ form_row(edit_form.situationAppel.suiviPlis.lieuxOuverture) }}</td></tr>
        {{ form_row(edit_form.hiddenStr) }}

        {% set hiddenArray=edit_form.hiddenStr.vars.value|split(',') %}
        {%  for idEtat in hiddenArray %}
            {% set viewStr=idEtat|split('',3) %}

            {% if viewStr[0]=="all" %}
                <tr><td>{{ form_row(attribute(edit_form,idEtat))}}</td></tr>
            {% endif %}

        {% endfor %}

        {#<tr><td>{{ form_row(edit_form.cautionnement) }}</td>
        <td>{{ form_row(edit_form.installation) }}</td>
        <td>{{ form_row(edit_form.qualificationTechnique)}}</td>
        <td>{{ form_row(edit_form.soumissionnairesConcurrents) }}</td><</tr>#}
        <tr><td>{{ form_row(edit_form.submit) }}</td><</tr>
        form_errors(edit_form)

        {{ form_widget(edit_form._token) }}
        </form>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('appel') }}">
                lister les appels d'offre
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
