{% extends '::base.html.twig' %}

{% block body -%}
    <h1>suiviPlis list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dateouverture</th>
                <th>Seance</th>
                <th>Lieuxouverture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('suiviplis_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.dateOuverture %}{{ entity.dateOuverture|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.seance }}</td>
                <td>{{ entity.lieuxOuverture }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('suiviplis_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('suiviplis_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('suiviplis_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
