{% extends '::base.html.twig' %}

{% block body -%}
    <h1>suiviPlis</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Dateouverture</th>
                <td>{{ entity.dateOuverture|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Seance</th>
                <td>{{ entity.seance }}</td>
            </tr>
            <tr>
                <th>Lieuxouverture</th>
                <td>{{ entity.lieuxOuverture }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('suiviplis') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('suiviplis_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
